<template>
  <v-card v-if="!editMode">
    <v-card-item>
      <div>
        <v-card-title
          >{{ student?.nome }} - {{ student?.matricula }}</v-card-title
        >
        <v-card-subtitle>{{ student?.situacaoMatricula.nome }}</v-card-subtitle>
        <v-card-subtitle>Meus Hobbies</v-card-subtitle>
        <v-card-text>{{ student?.hobbies }}</v-card-text>
      </div>
    </v-card-item>

    <v-card-actions class="buttons">
      <v-btn class="editButton" @click="toggleEditStudent">editar</v-btn>
      <v-btn class="deleteButton" @click="deleteStudent">deletar</v-btn>
      <v-btn class="cancelButton" >cancelar</v-btn>
    </v-card-actions>
  </v-card>

  <v-card v-if="editMode">
    <v-card-item>
      <v-text-field v-model="updatedStudent.nome" label="Nome" />
      <v-text-field v-model="updatedStudent.matricula" label="Matricula" />
      <v-text-field v-model="updatedStudent.hobbies" label="Hobbies" />
    </v-card-item>

    <v-card-actions class="buttons">
      <v-btn class="editButton" @click="saveStudent">salvar</v-btn>
      <!-- <v-btn class="cancelButton" @click="toggleEditStudent">cancelar</v-btn> -->
      <v-btn class="cancelButton" @click="cancelRegistration">cancelar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {
  deleteStudentByMatricula,
  createStudent, getStudentByMatricula, updateStudent,
} from '@/services/students.js';

export default {
  data() {
    return {
      editMode: false,
      oldMatricula: this.student.matricula
    };
  },
  computed: {
    updatedStudent: {
      get() {
        return this.$props.student;
      },
      set(value) {
        this.$props.student = value;
      },
    },
  },
  props: {
    student: {
      type: Object,
      required: true,
    },
  },
  methods: {
    toggleEditStudent() {
      this.editMode = !this.editMode;
      console.log(this.updatedStudent);
    },
    async saveStudent() {
      await updateStudent(this.oldMatricula, this.updatedStudent);
      this.oldMatricula = this.updatedStudent.matricula;
      this.toggleEditStudent();
      this.$emit('refreshStudents');

    },
    async deleteStudent() {
      await deleteStudentByMatricula(this.student.matricula);
      this.$emit('refreshStudents');
    },
    async cancelRegistration() {
      await getStudentByMatricula(this.student.matricula);
      this.toggleEditStudent();
      this.$emit('refreshStudents');

    },
    async updateStudent(){
      await updateStudentByMatricula(this.student.matricula);

    }
  },
};
</script>

<style scoped>
.v-card {
  min-width: 344px;
  background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.editButton {
  background-color: blue;
}

.deleteButton {
  background-color: red;
}

.cancelButton {
  background-color: rgb(153, 153, 0);
}
</style>
